:host {
  display: flex;
  justify-content: center;
}

.container {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;

    h1 {
      font-weight: bolder;
    }

    form {
      margin: 20px;
    }
  }

  .message{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      color: red;
      font-weight: bold;
      font-size: 12px;
      padding: 20px 0 0 0;
    }
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      color: #CCCCCC;
      font-weight: bold;
      font-size: 12px;
      padding: 20px 0 0 0;
    }
  }
}
